# FastAPI
fastapi==0.109.1
gunicorn==22.0.0
uvicorn==0.13.3
# additional
uvloop==0.14.0
httptools==0.1.1

# Data typing
typing==3.7.4.3
pydantic==1.10.13

# Environment variables
python-decouple==3.4

# Data processing
numpy==1.22.0
pandas==1.0.5

# Science
scipy==1.10.0
scikit-learn==1.5.0

# Visualization
matplotlib==3.2.2
seaborn==0.9.0

# Add additional packages here ---
